body {
	/*background-color: grey;*/
}

.maindiv {
  margin-right: auto;
  margin-left: auto;
  width: 794px;
}

.text-div {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.img-test {
	position:absolute;
	width: 100%;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
	top:-60px;
	z-index: -1;
	overflow-y: hidden;
}

.white-text {
	color: white;
	text-align: center;
	font-size: 60px;
}

.inner-right {
	float: right;	
}

.inner-left {
	float: left;	
}

.maze-div {
	float: left;
	padding-left: 20px;
	margin-left: 20px;
	/*padding-right: 20px;*/
}

.below-maze-div {
	float: left;
}

#code-div {
	/*margin-left: 20px;*/
	margin-right: 20px;
	float: left;
}

#console-div {
	/*margin-left: 20px;*/
	margin-right: 20px;
	float: left;
	/*border: solid;*/
}

.inside {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.padding {
	padding-top: 20px;
}

.centre {
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	text-align: center;
}

#pop-up {
	display: none;
	position: absolute;
	width: 30%;
	margin-left: 0;
	margin-right: auto;
	top: 52px;
	left: 70%;
	z-index: 1;	
}

.help-title {
	font-size: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.upload-text {
	width: 400px;
}

.bottom-upload {
	width: 250px;
}

.console {
	border: 1px solid;
	/*border-radius:5px;*/
	border-color:#C0C0C0;
}

.vis-div {
	padding: 20px;
}

#canvas-div {
	width: 440px;
}

#form-div {
	padding-top: 17px;
}

#code-textarea {
	overflow: auto;
	resize: none;
}

#student-select {
	width: 300px;
}

#chosen-student-div {
	display: none;
}

#chosen-student-inner {
	padding-left: 10px;
}

.slider {
	width: 180px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.size-slider {
	width: 180px;
}

.maze-button {
	margin-right: 5px;
}

.maze-option-inner {
	width: 133px;
	padding-right: 10px;
}

.maze-option-block {
	width: 400px;
	height: 130px;
}

.maze-option-block-btn {
	width: 400px;
	height: 30px;
}

.val {
	width: 100px;
}

#large-canvas-div {
	display: none;
	padding: 20px;
	padding-top: 30px;
}

.full-size-options {
	margin-left: 30px;
	width: 400px;
}

#title-no-top {
	font-size: 25px;
}

#large-console-div {
	margin-right: 20px;
}

.options-label {
	width: 120px;
	padding-bottom: 10px;
}

.span-label {
	width: 60px;
}

#maze-width {
	width: 190px;
	padding-right: 10px;
}

#maze-height {
	width: 190px;
}

.slider-long {
	width: 400;
}

.hide {
	/*display: none;*/
}